# dependencies
node_modules

# packages
package.json
tsconfig.json
components.json

# config files
package.json
package-lock.json
next.config.mjs
postcss.config.mjs
yarn.lock
postcss.config.js
tsconfig.json
commitlint.config.cjs
commitlint.config.ts
.prettierrc
eslint.config.mjs

# asset
public
globals.css


# next.js
.next
.cache

# production
build
./dist

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
next-env.d.ts

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

#Docs
README.md